@import "../../node_modules/amazeui/less/variables";
@import "../../node_modules/amazeui/less/mixins";


html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.ask-page {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.ask-header {
  margin-bottom: 0;
}

.ask-main {
  flex: 1;
}

.ask-banner {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ask-footer {
  background-color: @gray;
  color: @gray-light;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

.categories{
  text-align: center;
  li{
    text-align: center;
  }
}

.am-menu-nav-flex{
  display: flex !important;
  justify-content: center !important;
}

.content{

}

.buy_content{
  border: 1px solid;
  padding: 1em;
  margin-top: 40px;
}

@media (min-width:768px){
  .menu{
    margin:auto;
  }

}

.welcome_style{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 20em;
  color: whitesmoke;
  background-image: url('../i/kongge/index1.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  h1, h2{
    line-height: 5em;
  }
}

.taolu_content{
  padding-bottom: 2em;
}
